.header_component_root {
	left:0;
	position:absolute;
	right:0;
	top:0;
	z-index:100
}

@media (min-width:1024px) {
	.header_component_root {
	 transition:margin-top .3s ease-in-out
	}
}

.header_component_root.header_component_fixed {
	position:fixed
}