.container {
	background-color: rgba(0, 0, 0, 1);
	position: relative;
}

.header h2 {
	font-size: 2rem;
	font-weight: normal;
}

.sectionContainer {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
}

.sectionDescription {
	font-size: 1.2rem;
	width: calc(33.33333% - 20px);
}

.sectionImage {
	width: calc(66.66667% - 10px);
}