.header_component_root {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	will-change: margin-top;
	z-index: 100;
}

.banner_component_root {
	position: relative;
	background-color: rgba(0, 0, 0, 1);
	color: #fff;
	cursor: pointer;
	display: flex;
	justify-content: center;
	padding: 12px;
}

.banner_component_content_container {
	display: flex;
	justify-content: center;
	color: inherit;
}

@media (min-width: 1024px) {
	.banner_component_title {
		margin-right: 10px;
	}
}

.container {
	padding: 2% 4%;
	line-height: 2rem;
	background-color: #eae4dc;
	box-shadow: inset -1vw 0 0 0 rgba(0, 0, 0, 1),inset 1vw 0 0 0 rgba(0, 0, 0, 1);
}

.header h2 {
	font-size: 2rem;
	font-weight: normal;
}

.sectionContainer {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
}

.sectionDescription {
	font-size: 1.2rem;
	width: calc(33.33333% - 20px);
}

.sectionImage {
	width: calc(66.66667% - 10px);
}