.container {
	margin: 0 1%;
	padding: 2% 4%;
	line-height: 2rem;
}

.header {
	font-size: 22px;
}

.sectionContainer {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
}

.sectionDescription {
	font-size: 18px;
	width: calc(33.33333% - 20px);
}

.sectionImage {
	width: calc(66.66667% - 10px);
}