.header_component_container {
	align-items:center;
	border:0;
	display:flex;
	height:80px;
	justify-content:space-between;
	padding-left:15px;
	padding-right:15px;
	transition:transform .2s;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	width:100%;
	will-change:transform
}

@media (min-width:576px) and (max-width:1023px) {
	.header_component_container {
	 padding:0 30px;
	}
}

@media (min-width:1024px) {
	.header_component_container {
	 padding: 0 50px;
	}
}

.header_component_container[data-theme=TransparentBlack] {
	color:#000
}

.header_component_container[data-theme=TransparentWhite] {
	color:#fff
}

.header_component_container[data-theme=White] {
	background-color:#fff;
	color:#000
}

.header_component_container[data-scrolled][data-theme=White],
.header_component_container[data-slim=true] {
 box-shadow:0 0 6px rgba(0,0,0,.08)
}

.header_component_container[data-slim=true] {
 background-color:#fff;
 color:#000;
 -webkit-animation:fullTopSlideFromOpacity .3s ease-in-out;
 animation:fullTopSlideFromOpacity .3s ease-in-out;
}

@-webkit-keyframes fullTopSlideFromOpacity {
	0% {
		opacity:0;
		transform:translateY(-100%)
	}
	to {
		opacity:1;
		transform:translateY(0)
	}
}
@keyframes fullTopSlideFromOpacity {
	0% {
	 opacity:0;
	 transform:translateY(-100%)
	}
	to {
	 opacity:1;
	 transform:translateY(0)
	}
}

@media (min-width:1024px) and (max-width:1289px) {
	.header_component_container[data-slim=true] {
	 padding-left:25px;
	 padding-right:20px
	}
}

.header_component_container:hover {
	background-color:#fff;
	color:#000;
	transition:background-color .2s ease-in-out,color .2s ease-in-out
}

.header_component_logo {
	align-items:center;
	color:inherit;
	display:flex;
	text-decoration:none;
	width:auto;
}

.right_block {
	display: flex;
}

.nav_links {
	margin: 0 1rem;
	padding: 1rem;
}

.nav_links > a {
	text-decoration: none;
	color: inherit;
}

.hamburgerToggle {
	cursor: pointer;
	color: inherit;
	display: none;
}

@media (max-width: 1023px) {
	.hamburgerToggle {
		display: block;
	}

	.right_block {
		position: absolute;
		flex-direction: column;
		align-items: center;
		width: 100%;
		top: 80px;
		z-index: 1000;
		height: 90vh;
		background-color: #fff;
		transform: translateX(100%);
		transition: transform .5s ease-in-out;
	}

	.active {
		transform: translateX(0);
	}
}